<div class="container">
    <div class="row">
      <div class="col-2"><h2>Experiencia</h2></div>
      <div class="col-10">
        <button
          type="button"
          class="btn btn-success"
          (click)="onOpenModal('add')"
          data-bs-toggle="modal"
          data-bs-target="#addExperienciaModal"
        >
          <a class="nav-link" style="color: rgb(221, 222, 237)">
            Añadir Experiencia <span class="sr-only">(current)</span>
          </a>
        </button>
      </div>
    </div>
  </div>
  <div class="container" *ngFor="let experiencia of experienciaLista">
    <div class="row">
      <div class="col-3">
        <img src="{{ experiencia.imagenExperiencia }}" alt="" />
      </div>
      <div class="col-3">{{ experiencia.descripcionExperiencia }}</div>
      <div class="col-2">{{ experiencia.fecha }}</div>
      <div class="col-2">{{ experiencia.tituloExperiencia }}</div>
      <div class="col-2">
        <a
          (click)="onOpenModal('edit', experiencia)"
          class="btn btn-primary tooltips"
          data-placement="top"
          data-bs-target="#editExperienciaModal"
          data-bs-toggle="modal"
          data-toogle="tooltip"
          data-origin-title="Editar"
        >
          <i class="fa fa-pencil"></i>
        </a>
        <a
          (click)="onOpenModal('delete', experiencia)"
          class="btn btn-danger tooltips"
          data-placement="top"
          data-toogle="tooltip"
          data-bs-target="#deleteExperienciaModal"
          data-bs-toggle="modal"
          data-origin-title="Delete"
        >
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- MODAL AÑADIR EXPERIENCIA -->
<div
class="modal"
id="addExperienciaModal"
tabindex="-1"
role="dialog"
aria-labelledby="addExperienciaModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="addExperienciaModalLabel">
        Añadir Experiencia
      </h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >X</button>
    </div>
    <div class="modal-body">
      <form #addForm="ngForm" (ngSubmit)="onAddExperiencia(addForm)">
        <div class="form-group">
          <label for="tituloExperiencia">Título:</label>
          <input
            type="text"
            ngModel
            name="tituloExperiencia"
            class="form-control"
            id="tituloExperiencia"
            placeholder="Título..."
            required
          />
        </div>
        <div class="form-group">
          <label for="periodo">Fecha:</label>
          <input
            type="text"
            ngModel
            name="fecha"
            class="form-control"
            id="fecha"
            placeholder="Fecha:"
            required
          />
        </div>
        <div class="form-group">
          <label for="descripcionExperiencia">Descripción:</label>
          <input
            type="text"
            ngModel
            name="descripcionExperiencia"
            class="form-control"
            id="descripcionExperiencia"
            placeholder="Descripción..."
            required
          />
        </div>
        <div class="form-group">
          <label for="imagenExperiencia">Url de la imagen:</label>
          <input
            type="text"
            ngModel
            name="imagenExperiencia"
            class="form-control"
            id="imagenExperiencia"
            placeholder="URL..."
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button
            (click)="onAddExperiencia(addForm.value)"
            id="add-experiencia-form"
            [disabled]="addForm.invalid"
            type="submit"
            class="btn btn-primary"
          >
            Añadir
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<!-- MODAL EDITAR EDUCACION -->
<div
  class="modal"
  id="editExperienciaModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="experienciaEditModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editExperienciaModalLabel">
          Editar {{ editExperiencia?.tituloExperiencia }}
        </h5>
        <button
          class="close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <input
            type="hidden"
            ngModel="{{ editExperiencia?.idExperiencia }}"
            class="form-control"
            id="idExperiencia"
            placeholder=""
          />
          <div class="form-group">
            <label for="tituloExperiencia">Título</label>
            <input
              type="text"
              ngModel="{{ editExperiencia?.tituloExperiencia }}"
              name="tituloExperiencia"
              class="form-control"
              id="tituloExperiencia"
              placeholder="Título"
            />
          </div>
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <input
              type="text"
              ngModel="{{ editExperiencia?.fecha }}"
              name="fecha"
              class="form-control"
              id="fecha"
              placeholder="Fecha"
            />
          </div>
          <div class="form-group">
            <label for="descripcionExperiencia">Descripción</label>
            <input
              type="text"
              ngModel="{{ editExperiencia?.descripcionExperiencia }}"
              name="descripcionExperiencia"
              class="form-control"
              id="descripcionExperiencia"
              placeholder="{{editExperiencia?.descripcionExperiencia}}"
            />
          </div>
          <div class="form-group">
            <label for="imagenExperiencia">Url de la imagen</label>
            <input
              type="text"
              ngModel="{{ editExperiencia?.imagenExperiencia }}"
              name="imagenExperiencia"
              class="form-control"
              id="imagenExperiencia"
              placeholder="{{editExperiencia?.imagenExperiencia}}"
            />
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              id=""
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              (click)="onEditExperiencia(editForm.value)"
              data-bs-dismiss="modal"
              class="btn btn-primary"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- MODAL ELIMINAR EXPERIENCIA -->

<div
  class="modal fade"
  data-bs-toggle="modal"
  id="deleteExperienciaModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Eliminar</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="close"
        >
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Vas a eliminar {{ deleteExperiencia?.tituloExperiencia }}.¿Seguro?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">NO</button>
        <button
          class="btn btn-danger"
          (click)="onDeleteExperiencia(deleteExperiencia!.idExperiencia)"
          data-bs-dismiss="modal"
        >
          SI
        </button>
      </div>
    </div>
  </div>
</div>